body {
  background-color: #25262A;
  /*For browsers that don't support gradients*/
  background: linear-gradient(rgba(61, 63, 69, 0.9), rgba(37, 38, 42, 0.95));
  color: #69BB01 !important; }

header h1 {
  margin: 0 auto;
  text-align: center; }

main {
  margin-left: 5%;
  margin-right: 5%; }

#top {
  height: 5%;
  background: linear-gradient(rgba(61, 63, 69, 0.9), rgba(37, 38, 42, 0.95)); }

img {
  margin: 0 auto;
  display: block;
  max-width: 90%; }

nav a {
  color: #69BB01 !important; }
  nav a:hover, nav a:focus {
    background-color: #3d3f45 !important; }

article {
  border-right: 1px dashed #a1a4ad; }
  article:target {
    animation-name: glow;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1; }

article:nth-child(1) {
  border-left: 1px dashed #a1a4ad; }

@media only screen and (max-width: 500px) {
  body {
    text-align: center; } }

@media only screen and (min-width: 501px) {
  body {
    text-align: left; } }

@keyframes glow {
  from {
    box-shadow: 2px 2px 2px 2px; }
  to {
    box-shadow: 2px 2px 2px 2px #69BB01; } }
